.content {
  padding: 120px 0 60px;
  background: url(../images/photo-weather.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;

  .content_temperature {
    font-size: 36px;
    line-height: 36px;

    @include respond(sm) {
      font-size: 40px;
      line-height: 40px;
    }
  }

}
